.carousel-image-1, .carousel-image-2, .carousel-image-3 {
  background-size: cover;
  background-position-y: 75%; }

body {
  overflow-x: hidden; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("../img/alexander-kunze-uLh71gTmZ4g-unsplash.jpg"); }

.carousel-image-2 {
  background: url("../img/denys-nevozhai-guNIjIuUcgY-unsplash.jpg"); }

.carousel-image-3 {
  background: url("../img/jeff-golenski-rUcZathUF58-unsplash.jpg"); }

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/sean-o-KMn4VEeEPR8-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 50%;
  text-align: center;
  color: #fff; }

.light-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); }

#page-header {
  height: 250px;
  background: url("../img/sean-o-KMn4VEeEPR8-unsplash.jpg");
  background-size: 100% 100%;
  color: #fff;
  padding: 50px; }

#faq a {
  color: #333;
  text-decoration: none; }
#faq .card {
  border: #444; }

#main-footer {
  background: url("../img/sean-o-KMn4VEeEPR8-unsplash.jpg");
  background-size: 100% 100%;
  color: #fff; }
